
// 搜索框
.search
    border: none
    color: $tit !important

// 订单状态
.select-sts-err,
.select-sts-succ
    background: $err
.select-sts-succ
    background: $succ

.select-sts-err,
.select-sts-succ
    color: #FFFFFFCF
    transition: all .422s
    border-color: #FFFFFF20
    
// 输入框状态
.input-err
    .input,
    .input-money
        border-color: $err


.input-clear
    &,
    input
        border: none !important

    input
        min-width: calc( 74px + 5vw )

// 输入框 SIZE
    
input
    min-width: calc( 3em + 2vw )

.input-0,
.input-0 input
    min-width: calc( 36px + 3.3vw ) !important
.input-2,
.input-2 input
    min-width: calc( 72px + 4vw ) !important
.input-3,
.input-3 input
    min-width: calc( 100px + 5vw ) !important
.input-4,
.input-4 input
    min-width: calc( 140px + 5.4vw ) !important
.input-7,
.input-7 input
    min-width: calc( 270px + 8.4vw ) !important

.input-4-limit
    max-width: calc( 140px + 5.4vw ) !important
    
.input-long,
.input-long input
    min-width: calc( 170px + 32vw )

.input-tiny
    font-size: 0.82em
    padding-left: $ds_s
    padding-right: $ds_s
.input-adapt
        padding-left: calc( 4px + 0.7vw )
        padding-right: calc( 4px + 0.7vw )
.input-adapt-in 
    input
        padding-left: calc( 4px + 0.7vw ) !important
        padding-right: calc( 4px + 0.7vw ) !important
    i.mdi-calendar-blank
        display: none

input.ip-w-100,
.ip-w-100 input,
select.ip-w-100,
.ip-w-100 select
        width: 100%
        min-width: 100%

.ip-l_x3
    input,
    select
        padding-left: $ds_x3


// 时间
.input-timed
    //    
    .vuejs3-datepicker
        position: relative
        z-index: 200
        width: 100%
    .vuejs3-datepicker__value
        @extend .input
        border: none
        overflow: hidden
        min-width: calc( 3em + 0.5vw )
    .vuejs3-datepicker__content
        font-size: 1em
        margin: 0px
        padding-left: 0px
        width: 100%
    //   
    .vuejs3-datepicker__icon,
    .vuejs3-datepicker__calendar-topbar
        display: none !important
    .vuejs3-datepicker__calendar
        border-color:  transparent
        margin: $ds 0
        z-index: 800
        overflow: hidden
        border-radius: 6px
        padding-bottom: 2px
        box-shadow: 0px 5px 8px -1.5px rgba(0, 0, 0, 0.23)
        
        span.day
            border-radius: 100% !important
        span.year,
        span.month
            border-radius: 4px !important
        .selected 
            color: #FFF
            background: $primary_Deep !important 

        .prev,
        .next,
        .day__month_btn,
        .month__year_btn
            padding: 8px 0px
            text-align: center

        .cell:not(.blank):not(.disabled).day:hover, 
        .cell:not(.blank):not(.disabled).month:hover, 
        .cell:not(.blank):not(.disabled).year:hover
            border: 1px solid $primary
            background: none

    .vdp-datepicker
        input
            @extend .input
    #calendar-div
        background: none !important
            
.input-time_one
    user-select: none
    
.ip-time-def
    input
        padding-left: $ds_x3 !important
.ip-timed-i,
.ip-timed-l,
.ip-calendar-left
    .vuejs3-datepicker__calendar
        left: 0%
        transform: translateX(-50%) !important
// 金钱
.input-money
    @extend .input-def
    padding-top: 0px 
    padding-bottom: 0px
    position: relative
    input
        @extend ._input
        color: $tit !important
        // width: auto !important
        min-width: auto !important
        padding-top: 0px 
        padding-bottom: 0px
        letter-spacing: 0.126em
        border: none !important

.timed-doub
    input
        padding-right: $ds !important
        max-width: calc( 74px + 5vw )

.time-doub-one
    border-radius: $br
    padding-right: $ds_x
    border: 1px solid $ip-br
    input
        border: none !important
    .vuejs3-datepicker
        .vuejs3-datepicker__calendar
            left: 50%
            transform: translateX(-70%)

// 修正
.timed-doub
    background: #FFF
    padding-right: $ds

    .vuejs3-datepicker
        width: calc( 92px + 3.2vw ) !important
    .vuejs3-datepicker__value
        padding-top: $ds_s
        padding-bottom: $ds_s
    .vuejs3-datepicker__content
        @extend .fx-l

    .time_2
        .vuejs3-datepicker__content
            margin: 0px

// CHECKBOX
._checkbox
    @extend .br_s
    width: 1.5em
    height: 1.5em
    position: relative
    margin-right: $ds_s
    border: 2px solid $primary
    @extend .fx-pri-focus

.checkbox-active::after 
    @extend .br_s
    text-align: center
    position: absolute
    content: "✓"
    color: #FFF
    top: -1px
    left: -1px
    width: 1.4em
    height: 1.4em
    font-size: 1em
    line-height: 1.3em
    font-weight: bold
    background-color: $primary

.checkbox-roie
    input[type=checkbox]
        color: $primary
        background: $primary
        border-color: $primary

.ip-minut
    letter-spacing: 0.282em

//   

.input-timed-pahd
    .vuejs3-datepicker__content
        color: $ip_pchd !important
.input-phcd
    color: $ip_pchd !important
//    
.input-timed-hide
    position: absolute
    padding: 0px !important
    overflow: hidden
    height: 0em !important

//   
.ip-time-top
    //
    .vuejs3-datepicker__calendar
        bottom: -96px
        left: 130%
        box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.34)
